/* ====================================== HEADER DA PAGINA ======================================= */
body {
    margin: 0;
}

.header {
    display:flex;
    align-items: center;
    gap: 1px;
    padding: 20px;
    background-color: rgb(133, 87, 61);
}  

.imagem-logo-container {
    position: relative;
    padding-left: 15px;
}

.imagem-logo {
    width: 230px; 
    border-radius: 50%;
    display: block;
    box-shadow: 0 0 15px rgba(0,0,0,0.4);
    transition: 0.3s ease;
}

.titulo-container {
    position: inherit;
    display: flex;
    overflow: hidden;
    text-align: center;
    justify-content: center;
    background-color: rgb(255, 196, 157);
    width: 90%;
    margin-left: -10%;
    padding: 50px 20px;
    border-radius: 20px; 
    flex-wrap: wrap;
}

.titulo {
    color: #222;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2.4em;
    letter-spacing: 1px;
    padding: 2px 0px 0px 100px;
    margin: 0;
}

.imagem-logo:hover {
    transform: scale(1.05);
}
/* ==================================== BODY DA PAGINA ==================================== */
.body {
    margin: 0;
    display:flex;
    padding: 20px;
    background:
        linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
        url("../IMAGES/imagem-xicara-cafe.jpg");
        
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.menu-container {
    background-color:  rgb(207, 142, 105);
    height: auto;
    border-radius: 20px;
    transition: 0.4s ease;
}

.titulo-menu {
    background-color: rgb(255, 225, 206);
    font-size: 2.5em;
    text-align: center;
    padding-top:10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 50px;
    margin-top: 0px;
    border-radius: 20px 20px 0px 0px;
    color:rgb(19, 19, 19);
}

.menu-items {
    list-style: disc;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2.3em;
    padding: 0px 40px 20px 70px;
    color: #0c0601;
}

.menu-container:hover {
    transform: translateY(-10px);
    box-shadow: 1px 15px 30px 1px #0a0a0a;
}
/* ===================================== RESPONSIVIDADE DO SITE ============================== */
@media (max-width: 768px) {
  .header {
    flex-direction: column;
    padding: 10%;
  }
  
  .titulo-container {
    visibility: hidden;
  }
  
}