* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* ================= HEADER ================= */

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 40px;
    background: rgb(133, 87, 61);
    position: sticky;
    top: 0;
    z-index: 999;
}

/* LOGO */

.imagem-logo {
    width: 100px;
    border-radius: 50%;
    box-shadow: 0 0 15px rgba(0,0,0,.4);
    transition: 0.5s ease;
}

.imagem-logo:hover {
    transform: scale(1.2);
}

/* NAVBAR */

.barra-navegacao ul {
    list-style: none;
    display: flex;
    gap: 30px;
}

.barra-navegacao a {
    text-decoration: none;
    color: #ffe1ce;
    letter-spacing: 2px;
    transition: .3s;
}

.barra-navegacao a:hover {
    color: white;
}

/* TITULO */

.titulo-container {
    background: rgb(255, 196, 157);
    padding: 20px 30px;
    border-radius: 20px;
}

.titulo {
    font-size: 18px;
}

/* ================= BODY ================= */

.body {
    min-height: 100vh;
    padding: 40px;
    background-color: wheat;
    background-size: cover;
}
.hero {
    color:#222;
    width: 750px;
}

.texto-hero {
    position: relative;
    left: 50%;
}

.imagem-hero {
    display:block;
    position: relative;
    left: -100px;
    width: 1485px;
    height: 500px;
    object-fit: cover;
    top: -40px;
}

.sobre {
    background: #f3dfc3;
    padding: 80px 20px;
    display: flex;
    justify-content: center;
    margin-top: -50px;
}

.sobre-container {
    max-width: 700px;
    text-align: center;
}

.sobre h2 {
    font-size: 32px;
    margin-bottom: 20px;
    letter-spacing: 2px;
}

.sobre p {
    font-size: 18px;
    line-height: 1.8;
    margin-bottom: 20px;
    color: #222;
}

.assinatura {
    margin-top: 30px;
    font-weight: bold;
}

/* FOOTER */

.footer {
    padding: 40px 0;
    background-color:rgb(133, 87, 61);
    overflow: hidden;
    width: 100%;
}

.image-footer-container {
    display:flex;
    width: max-content;
    animation: scroll 10s linear infinite;
    will-change: transform;
}

.image-footer {
    min-width: 200px;
    height: 100px;
    margin-right: 20px;
    background: #333;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
}

.image-footer img{
    width: 230px;
}

@keyframes scroll {
  from {
    transform: translateX(-15%);
  }
  to {
    transform: translateX(0);
  }
}

/* ================= MOBILE ================= */

@media(max-width:900px){

    .titulo-container {
        display: none;
    }

    .barra-navegacao ul {
        flex-direction: column;
    }

}
